body{
    margin: 0 auto;
    max-width: 1024px;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    position: relative;
    margin: 15px 20px;
}

header h1{
    color: white;
    text-shadow: 0 0 1px grey;
    font-size: 25px;
    margin: 0 0 35px;
}

header nav ul{
    padding: 0;
    margin: 0;
}

header nav ul li {
    display: inline-block;
    padding: 15px 10px 15px 10px;
}

.redes {
    position: absolute;
    top: 30px;
    right: 20px;
}

aside, .seccion1{
    display: inline-block;
    vertical-align: top;
}

aside{
    width: 35%;
}

.seccion1 {
    width: 60%;
}

.secc1art1{
    text-align: center;
}

.secc1art1 img{
    width: 90%;
    margin: 0 auto;
}

.secc1art2{
    margin: 0 20px;
    padding: 20px 0;
    border-bottom: 1px solid grey;
    border-top: 1px solid grey;
}

.secc1art2 p{
    font-size: 14px;
}

.secc1art2 h2{
    color: grey;
    margin: 0 0 10px;
}

.img-post, .contenido-post{
    display: inline-block;
    vertical-align: top;
}

.contenido-post{
    width: 68%;
    padding-left: 3px;
}

.img-post{
    width: 28%;
    border: 6px solid silver;
}

.autor-post{
    box-shadow: 1px 1px 0 0 grey;
    width: 98%;
    display: block;
    background: rgb(253, 250, 250);
    font-size: 12px;
    padding: 8px 5px;
    border-radius: 8px;
}

.italica-autor{
    font-style: italic;
    color: grey;
}

#leer-mas{
    background: grey;
    color: white;
    border-radius: 8px;
    padding: 8px;
    border: none;
    font-style: italic;
}

.barra{
    color: white;
    font-weight: 600;
    background-image: linear-gradient(#ef6000 5%, #fed0b2 10%, #ef6000 40%);
    border-radius: 7px;
}

.centrar {
    text-align: center;
    padding: 8px 0;
    border-radius: 12px;
}

.publicidad, .buscador, .categorias {
    border: 1px solid silver;
    border-radius: 12px;
}

.publicidad-imagenes {
    text-align: center;
    margin: 20px 0 10px;
}

.buscador form {
    text-align: center;
    margin: 15px 0 10px;
}

.buscador form span {
    border: 1px solid silver;
    border-radius: 18px;
    padding: 8px 5px 10px;
}

.form-buscador {
    border-radius: 12px;
    padding: 5px;
    border: inherit;
}

.form-boton {
    border-radius: 15px;
    color: #ffffff;
    background: silver;
    border: 1px solid grey;
    height: 30px;
}
