/*Herencia
se utiliza el valor de inherit*/

p{
    color: green;
    font-size: 30px;
}

a{
    color: inherit; /*se le dice que seleccione el color del elemento padre*/
}

/*Important -> Especificidad -> Cascada*/

/*
Etiquetas = 1
Clases = 10
ID = 100
Estilos en linea = 1000
Important = Gana a todos
*/

.parrafo {
    color: red !important;
}

#parrafo {
    color: purple;
}

p {
    color: blue !important;
}

#parrafo {
    color: orange;
}

/*Box model*/

h1 {
    background: lightblue;
    width: 100px;
}

div {
    background: lightcoral;
    height: 100px;
    width: 100px;
    border: 1px solid black;
}

a{
    background: lightgreen;
    height: 1000px;
}

span{
    background: red;
    height: 100px;
}

.caja1{
    background: lightgreen;
    padding: 10px 20px;
    /*margin: 20px;*/
    margin: 10px 0 20px 0;
    box-sizing: border-box;
    border: 3px solid black;
    /*
    border-width: 10px 5px;
    border-color: black red white;
    border-style: solid dotted;    
    */

}